{
  "entity_suffixes": {
    "climate": "",
    "group": "Group",
    "script": "",
    "media_player": "",
    "lock": "",
    "cover": "",
    "garage_door": "",
    "scene": "Scene",
    "switch": "",
    "fan": "",
    "light": "",
    "input_boolean": ""
    "input_slider": ""
  },
  "allowed_domains": [
    "climate",
    "cover",
    "fan",
    "garage_door",
    "group",
    "input_boolean",
    "input_slider",
    "light",
    "lock",
    "media_player",
    "scene",
    "script",
    "switch"
  ],
  "url": "http://localhost:8123/api",
  "debug": false,
  "ssl_verify": false,
  "password": ""
}
