{
  "url": "http://localhost:8123",
  "password": "api_password",
  "allowed_domains": [
    "cover",
    "garage_door",
    "group",
    "input_boolean",
    "light",
    "lock",
    "media_player",
    "scene",
    "script",
    "switch"
  ]
}
