{
    "ha_url": "http://localhost:8123/api",
    "ha_passwd": "api_password",
    "ha_allowed_entities":[
        "climate",
        "group",
        "input_boolean",
        "light",
        "lock",
        "media_player",
        "scene",
        "script",
        "switch"
    ],
    "suffix_entity_names": false
}
